# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
*.*.sw*
# BOSS infrastructure
cmt*  
*.make*
Makefile
x86_64-slc5-gcc43-opt

# Python precompiled
*.pyc

#ROOT
AutoDict*
*_cpp.d
*_C.d


mctop
